### MacOS ###
.DS_Store

### Spring Beans ###
.springBeans

### Maven ###
target/

### Eclipse ###
.classpath
.project
.settings

### idea ###
.idea
*.iml
*.ipr
*.iws

build/
node_modules
node
package-lock.json
